{% extends "requisition/base.html" %}

{% block head %}
<title>Welcome</title>
{% endblock %}
{% block body %}
{% if user.is_anonymous %}
	{{token}}
{% else %}
	Hi {{user.username}}! <a href="{% url 'submit' %}">Want to create a new Form ?</a>
	{{uri}}
	{{domain}}
{% endif %}
{% endblock %}
