<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0 minimal-ui"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        {% load bootstrap3 %}

        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" />

        <title>eTRP</title>

        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">eTRP</a>
                    <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
                        <span class="icon-bar">menu1</span>
                        <span class="icon-bar">menu2</span>
                        <span class="icon-bar">menu3</span>
                    </button>
                </div>
                {% if user.is_authenticated %}
                <p class="navbar-text">Signed in as {{user.username}}</p>
                {% endif %}
                <div id="navbar-main" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'index' %}">View All</a></li>
                        <li><a href="{% url 'submit' %}">Create New Form</a></li>
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_anonymous %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% else %}
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div id="banner" class="page-header">
                <h3>{% block title %}{% endblock %}</h3>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert alert-dismissable alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {% if 'safe' in message.tags %}
                                {{ message|safe }}
                            {% else %}
                                {{ message }}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>