{% extends "requisition/base.html" %}

{% block body %}
<h3>Submission #: {{ requisition.id }}</h3>
<p>Name: {{ requisition.patient_name }}</p>
<p>Age:  {{ requisition.patient_age }}</p>
<p>Date: {{ requisition.create_date|date }}</p>
<br/>
<br/>
<a href="{% url 'index' %}">View All</a>
{% endblock %}