{% extends "requisition/base.html" %}

{% block body %}
{% if latest_requisition_list %}
    <ol>
    {% for req in latest_requisition_list %}
        <li>
        <a href="{% url 'detail' req.id %}">{{ req.patient_name }} - {{ req.patient_age }}</a>
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>No requisitions are available.</p>
{% endif %}
<br/>
<br/>
<a href="{% url 'submit' %}">Add new</a>
{% endblock %}

