{% extends "requisition/base.html" %}

{% block head %}
<title>Login</title>
{% endblock %}
{% block body %}
{% if user.is_anonymous %}
	<a href={{authorization_url}}>Please login with your GitHub Account</a>
{% else %}
	<a href="">logout</a>
{% endif %}
{% endblock %}